@use "../../utilities";

@mixin container {
  min-height: 83vh;
  display: grid;
  grid-template-columns: 1fr;
}

@mixin card {
  display: flex;
  padding: 25px;
  width: 50%;
  flex-wrap: wrap;
  border-radius: 10px;
  height: 80%;
  margin-top: 10px;
  align-items: center;
  justify-self: center;
  justify-content: center;
}
.results {
  @include container;
  background-image: url("../../assets/images/ginger.jpg");
  background-size: contain;
  color: utilities.$white;
  button {
    margin: 10px;
    display: block;
    color: utilities.$white;
    background-color: utilities.$brown-chocolate;
  }
}

.ResultsCard {
  @include card;
  background-color: #da8243;
  height: fit-content;
  width: 40%;
  margin-top: 30px;
}
.outer_container {
  background-color: #c9a15a;
  color: utilities.$brown-chocolate;
  @include container;


  span{
    text-align: center;
    font-weight: bold;
  }
  img {
    width: 300px;
    height: 300px;
  }

  .score {
    text-align: center;
  }
}

.form {
  @include card;
  background-color: #f7ce76;
  color: utilities.$brown-chocolate;
  justify-self: center;

  h2 {
    font-size: 35px;
    padding: 14px;
  }

  span {
    width: 100%;
  }
  input {
    height: 50px !important;
    border: none;
    margin: 10px;
    color: utilities.$brown-chocolate;
    font-weight: bold;
    font-size: 20px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.1s;
    scroll-behavior: none;
    border-radius: 8px;
    &:focus {
      border: solid 2px utilities.$brown-chocolate;
    }
  }
  button {
    height: fit-content;
    background-color: utilities.$brown-chocolate;
    color: utilities.$white;
    padding: 13px;
  }
}

.correct {
  background-color: utilities.$green-correct;
}

.incorrect {
  background-color: utilities.$incorrect;
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .outer_container,
  .results {
    display: grid;
    min-height: 85vh;

    img {
      width: 250px;
      height: 250px;
    }

    .form {
      display: flex;
      flex-direction: column;
      width: fit-content;
    }
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    button {
      width: 80%;
    }
  }
  .results {
    align-items: center;
  }
}
