@use "../../utilities";

.landing {
  min-height: 80vh;
  background-color: #ffc7c7;
  display: flex;
  justify-content: center;
  align-items: center;

  .linkbtn {
    text-decoration: none;
  }

  .btnIcon {
    margin-left: 5px;
  }
  @mixin generalBtn {
    height: fit-content;
    padding: 20px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    color: utilities.$white;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .firstBtn {
    @include generalBtn;
    background-color: #fd58c4;
    color: black !important;

    &:hover {
      box-shadow: 0 0 10px 10px #b6f9c9;
      box-shadow: 0 0 10px 10px rgba(255, 105, 180, 0.435);
    }
  }
  .secondBtn {
    @include generalBtn;
    background-color: #00e6d6;
    color: #003b49 !important;
    &:hover {
      box-shadow: 0 0 10px 10px #b6f9c9;
      box-shadow: 0 0 10px 10px rgba(105, 255, 180, 0.435);
    }
  }

  .thirdBtn {
    @include generalBtn;
    background-color: #45171d;
    &:hover {
      box-shadow: 0 0 10px 10px #b6f9c9;
      box-shadow: 0 0 10px 10px #45171d99;
    }
  }
  .btn-container {
    background-image: url("../../assets/images/iStock-1143155811.jpg");
    background-size: cover;
    padding: 80px;
    border-radius: 20px;
    height: 50%;
    display: grid;
    width: 30%;
    justify-items: center;
  }
}

@media screen and (max-width: 768px) {
  .landing {
    min-height: 85vh;
  }
}

@media screen and (min-width: 1200px) {
  .landing {
    min-height: 86vh;
  }
}
