@use "../../utilities";
@mixin roundedbtn {
  height: 25px;
  width: 25px;
  padding: 20px;
  border-radius: 50px;
  font-weight: bold;
  display: inline-block;
  color: utilities.$white;
  font-size: larger;
}

@mixin formContainer {
  padding: 10px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
@mixin outer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: utilities.$white;
  @media (min-width: 1200px) {
    min-height: 85vh;
  }
}

.result-container {
  @include outer;
  background-image: url("../../assets/images/test.jpg");
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-position: 5% 82%;

  button {
    background: linear-gradient(
      90deg,
      rgba(95, 68, 68, 1) 1%,
      rgba(232, 88, 154, 0.9429194819819819) 46%,
      rgba(232, 88, 154, 0.9429194819819819) 46%
    );
    color: utilities.$white;
  }
  .btn-container {
    display: flex;
    justify-content: space-around;
  }
  .result-card {
    margin-top: 50px;
    background-color: utilities.$salmonColor;
    padding: 40px;
  }
}
.outer-container {
  background-color: #f6adc7;
  justify-content: flex-start;

  img {
    width: 300px;
  align-self: start;

  }
  filter: drop-shadow(0 -6mm 4mm rgb(160, 0, 210));
  @include outer;

  .btn-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: green;
  }

  .feedback {
    font-size: 20px;
  }
  .second-game-form {
    @include formContainer;
    background-color: #69e9f5;
    button {
      padding: 12px;
      background-color: utilities.$pinkBubblegum;
      color: utilities.$white;
      &:hover {
        background-color: #ff63b666;
      }
    }
  }

  .correct {
    @include formContainer;
    background-color: #27bf03;
  }

  .incorrect {
    @include formContainer;
    background-color: utilities.$salmonColor;
  }

  input {
    border: none;
    padding: 15px;
    border-radius: 8px;
    margin: 8px 8px;
  }
  // #27bf03
  .firstNumber {
    background-color: #ff63b5;
  }

  .secondNumber {
    background-color: #645fce;
  }

  .number {
    @include roundedbtn;
  }
  .operator {
    color: orange !important;
    font-size: 60px;
    padding: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .outer-container {
    min-height: 87vh;
  }
}

@media screen and (max-width: 768px) {
  .result-container {
    background-position: bottom 50px right 10px;
    background-size: cover;
    min-height: 90vh;
  }
}
