@use '../../utilities';

footer {
    display: flex;
    justify-content: center;
    background-color: utilities.$brown-chocolate;
    color:utilities.$white;
    padding:8px;

    p{
        font-size: smaller;
    }
}