.comic {
  font-family: "comic sans ms";
}

.roundedCorner {
  border-radius: 20px;
}

.btn-general {
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn-general:focus {
  outline: solid 3px lime !important;
}

.landing {
  min-height: 80vh;
  background-color: #ffc7c7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .linkbtn {
  text-decoration: none;
}
.landing .btnIcon {
  margin-left: 5px;
}
.landing .firstBtn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: #fd58c4;
  color: black !important;
}
.landing .firstBtn:hover {
  box-shadow: 0 0 10px 10px #b6f9c9;
  box-shadow: 0 0 10px 10px rgba(255, 105, 180, 0.435);
}
.landing .secondBtn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: #00e6d6;
  color: #003b49 !important;
}
.landing .secondBtn:hover {
  box-shadow: 0 0 10px 10px #b6f9c9;
  box-shadow: 0 0 10px 10px rgba(105, 255, 180, 0.435);
}
.landing .thirdBtn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: #45171d;
}
.landing .thirdBtn:hover {
  box-shadow: 0 0 10px 10px #b6f9c9;
  box-shadow: 0 0 10px 10px rgba(69, 23, 29, 0.6);
}
.landing .btn-container {
  background-image: url("../../assets/images/iStock-1143155811.jpg");
  background-size: cover;
  padding: 80px;
  border-radius: 20px;
  height: 50%;
  display: grid;
  width: 30%;
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .landing {
    min-height: 85vh;
  }
}
@media screen and (min-width: 1200px) {
  .landing {
    min-height: 86vh;
  }
}
header {
  display: flex;
  background-color: #5f4444;
  justify-content: center;
  justify-content: center;
  align-items: center;
}
header .nav-link {
  font-size: 15px;
  margin: auto;
  text-decoration: none;
  color: white;
}
header .rewards-icon {
  align-self: baseline;
  padding: 8px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #5f4444;
  color: white;
  padding: 8px;
}
footer p {
  font-size: smaller;
}

.firstgame {
  display: flex;
  flex-direction: column;
  background-color: #5cd8d2;
  align-items: center;
  min-height: 85vh;
}
.firstgame span {
  font-weight: bold;
  color: purple;
}
.firstgame .candy-icon {
  width: 600px;
  margin: auto;
  margin-bottom: 15px;
  justify-content: start;
  border-radius: 20px;
}
.firstgame h2,
.firstgame h3 {
  text-align: center;
  color: purple;
}
.firstgame .question-card {
  display: flex;
  flex-direction: column;
  background-color: pink;
  padding: 15px;
  width: 70%;
  margin: auto;
  height: 80%;
  border-radius: 20px;
  color: purple;
  margin-bottom: 17px;
}
.firstgame .question-card span {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.firstgame .btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.firstgame .btn01 {
  background-color: #f49cbb;
}
.firstgame .btn01:hover {
  background-color: #cc99cc;
}
.firstgame .btn11 {
  background-color: #a9def9;
}
.firstgame .btn11:hover {
  background-color: #ede7b1;
}
.firstgame .btn21 {
  background-color: #d3f8e2;
}
.firstgame .btn21:hover {
  background-color: lightcoral;
}
.firstgame .btn31 {
  background-color: #e4c1f9;
}
.firstgame .btn31:hover {
  background-color: #f49cbb;
}
.firstgame button {
  margin-top: 8px;
  color: purple;
  font-weight: bold;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.firstgame .final-result {
  background: rgb(170, 236, 218);
  background: linear-gradient(90deg, rgb(170, 236, 218) 0%, rgb(213, 196, 244) 46%, rgb(245, 104, 189) 100%);
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.firstgame .final-result h3 {
  color: purple;
}
.firstgame .final-result .restartBtn {
  width: 20%;
  border-radius: 8px;
  background-color: #f568bd;
  color: purple;
}
.firstgame .final-result .restartBtn:hover {
  background-color: rgba(245, 104, 189, 0.5019607843);
}
.firstgame .final-result .scores-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
}
.firstgame .final-result .scores-btn:hover {
  background-color: #ff63b5;
}
@media screen and (max-width: 768px) {
  .firstgame .candy-icon {
    width: 300px;
  }
  .firstgame .question-card {
    margin-bottom: 130px;
  }
  .firstgame .restartBtn {
    width: 40% !important;
  }
}

@media screen and (min-width: 1200px) {
  .firstgame {
    min-height: 85vh;
  }
}
.outer-container-score {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  align-items: center;
  background-color: #f694c1;
}
.outer-container-score h1,
.outer-container-score h2 {
  color: white;
}

.score-card {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(95, 68, 68);
  background: linear-gradient(90deg, rgb(95, 68, 68) 1%, rgba(232, 88, 154, 0.942919482) 46%, rgb(244, 188, 253) 100%);
  padding: 15px;
  width: 30%;
  margin-top: 10px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}
.score-card p {
  font-size: 20px;
}

.play-btn {
  padding: 8px;
  border-radius: 8px;
  border: none;
  color: white;
  background: rgb(95, 68, 68);
  cursor: pointer;
}

.icon {
  width: 50px;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .score-card {
    width: 60%;
  }
}
#answer {
  display: block;
}

.initial-container {
  display: inline-block;
}

.result-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-image: url("../../assets/images/test.jpg");
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-position: 5% 82%;
}
@media (min-width: 1200px) {
  .result-container {
    min-height: 85vh;
  }
}
.result-container button {
  background: linear-gradient(90deg, rgb(95, 68, 68) 1%, rgba(232, 88, 154, 0.942919482) 46%, rgba(232, 88, 154, 0.942919482) 46%);
  color: white;
}
.result-container .btn-container {
  display: flex;
  justify-content: space-around;
}
.result-container .result-card {
  margin-top: 50px;
  background-color: #f58080;
  padding: 40px;
}

.outer-container {
  background-color: #f2c75c;
  justify-content: flex-start;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.outer-container h2, .outer-container span {
  margin: 0;
  color: #21174a;
}
.outer-container img {
  align-self: start;
  filter: drop-shadow(0 -6mm 4mm rgb(227, 143, 176));
}
@media (min-width: 1200px) {
  .outer-container {
    min-height: 85vh;
  }
}
.outer-container .btn-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: green;
}
.outer-container .feedback {
  font-size: 15px;
}
.outer-container .second-game-form {
  padding: 10px;
  align-items: center;
  display: flex;
  background-color: #21174a;
}
.outer-container .second-game-form button {
  padding: 12px;
  background-color: #ff63b5;
  color: white;
  color: #21174a;
  margin-top: 15px;
}
.outer-container .second-game-form button:hover {
  background-color: rgba(255, 99, 182, 0.4);
}
.outer-container .correct {
  padding: 10px;
  align-items: center;
  display: flex;
  background-color: #27bf03;
}
.outer-container .incorrect {
  padding: 10px;
  align-items: center;
  display: flex;
  background-color: #f58080;
}
.outer-container input {
  border: none;
  padding: 15px;
  border-radius: 8px;
  margin: 8px 8px;
}
.outer-container .firstNumber {
  background-color: #ff63b5;
}
.outer-container .secondNumber {
  background-color: #645fce;
}
.outer-container .number {
  height: 25px;
  width: 25px;
  padding: 20px;
  border-radius: 50px;
  font-weight: bold;
  display: inline-block;
  color: white;
  font-size: larger;
}
.outer-container .operator {
  color: orange !important;
  font-size: 60px;
  padding: 10px;
  font-weight: bolder;
}

@media screen and (min-width: 1200px) {
  .outer-container {
    min-height: 87vh;
  }
}
@media screen and (max-width: 1000px) {
  .outer-container img {
    width: 280px;
  }
}
@media screen and (max-width: 768px) {
  .outer-container {
    min-height: 85vh;
  }
  .second-game-form {
    width: 80% !important;
    justify-content: center;
  }
  .second-game-form button {
    margin-top: 14px;
  }
  .result-container {
    background-position: bottom 50px right 10px;
    background-size: cover;
    min-height: 90vh;
  }
}
.results {
  min-height: 83vh;
  display: grid;
  grid-template-columns: 1fr;
  background-image: url("../../assets/images/ginger.jpg");
  background-size: contain;
  color: white;
}
.results button {
  margin: 10px;
  display: block;
  color: white;
  background-color: #5f4444;
}

.ResultsCard {
  display: flex;
  padding: 25px;
  width: 50%;
  flex-wrap: wrap;
  border-radius: 10px;
  height: 80%;
  margin-top: 10px;
  align-items: center;
  justify-self: center;
  justify-content: center;
  background-color: #da8243;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 40%;
  margin-top: 30px;
}

.outer_container {
  background-color: #c9a15a;
  color: #5f4444;
  min-height: 83vh;
  display: grid;
  grid-template-columns: 1fr;
}
.outer_container span {
  text-align: center;
  font-weight: bold;
}
.outer_container img {
  width: 300px;
  height: 300px;
}
.outer_container .score {
  text-align: center;
}

.form {
  display: flex;
  padding: 25px;
  width: 50%;
  flex-wrap: wrap;
  border-radius: 10px;
  height: 80%;
  margin-top: 10px;
  align-items: center;
  justify-self: center;
  justify-content: center;
  background-color: #f7ce76;
  color: #5f4444;
  justify-self: center;
}
.form h2 {
  font-size: 35px;
  padding: 14px;
}
.form span {
  width: 100%;
}
.form input {
  height: 50px !important;
  border: none;
  margin: 10px;
  color: #5f4444;
  font-weight: bold;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.1s;
  scroll-behavior: none;
  border-radius: 8px;
}
.form input:focus {
  border: solid 2px #5f4444;
}
.form button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #5f4444;
  color: white;
  padding: 13px;
}

.correct {
  background-color: #27bf03;
}

.incorrect {
  background-color: rgba(207, 79, 79, 0.586);
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .outer_container,
.results {
    display: grid;
    min-height: 85vh;
  }
  .outer_container img,
.results img {
    width: 250px;
    height: 250px;
  }
  .outer_container .form,
.results .form {
    display: flex;
    flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
  }
  .btn-container button {
    width: 80%;
  }
  .results {
    align-items: center;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button:focus, .link:focus {
  outline: solid 3px lime !important;
}

.levelName {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 18px;
}/*# sourceMappingURL=App.css.map */