@use "../../utilities";
header {
  display: flex;
  background-color: utilities.$brown-chocolate;
  justify-content: center;
  justify-content: center;
  align-items: center;

  .nav-link {
    font-size: 15px;
    margin: auto;
    text-decoration: none;
    color: utilities.$white;
  }
 
  .rewards-icon {
    align-self: baseline;
    padding: 8px;
  }
}
