header {
    display: flex;
    color: white;
    background-color: #5f4444;
    justify-content: center;

    h1 {
        font-size: 30px;
    }

    .comic {
        font-family: "comic sans ms";
      }
}
